@import url("cyoafinalproject_gaskey copy.css");
#scene {
    width: 900px;
    height: auto;
}
h1 {
    text-align: center;
    -webkit-box-shadow: 0px 0px #50DE17;
    box-shadow: 0px 0px #50DE17;
    color: #FFFFFF;
}
body {
    background-color: #090909;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#imageAndButtons {
    position: absolute;
    left: 145px;
}
#box01 {
    width: 100px;
    height: 100px;
    background-color: #E2DE6A;
    position: absolute;
    left: 470px;
    top: 110px;
    opacity: 0.2;
}
#box02 {
    width: 130px;
    height: 130px;
    position: absolute;
    background-color: #DD7E11;
    opacity: 0.2;
    left: 720px;
    top: 150px;
}
#box03 {
    width: 200px;
    height: 200px;
    background-color: #8FB8B9;
    opacity: 0.2;
    position: absolute;
    left: 500px;
    top: 300px;
}
#imageAndButtons p #choiceOneNeutral {
    position: absolute;
    left: 455px;
    top: 190px;
}
#imageAndButtons p #choiceTwoNeutral {
    position: absolute;
    left: 715px;
    top: 250px;
}
#imageAndButtons p #choiceThreeNeutral {
    left: 560px;
    top: 500px;
    position: absolute;
}
