@charset "utf-8";
h1 {
    text-align: center;
    text-decoration: underline;
}
.vidCenter {
    height: auto;
    margin: 0 auto;
    display: block;
}
#mainImage {
}
#box01 {
    width: 218px;
    height: 595px;
    background-color: #842325;
    position: absolute;
    left: 521px;
    top: 69px;
    opacity: 0.1;
}
#imageAndButtons {
    position: relative;
}



#scene {
    width: 100%;
}
#choiceOneNeutral:hover {
    color: orange;
}
#choiceTwoNeutral:hover {
    color: orange;
}
#choiceOneGood:hover {
    color: green;
}
#choiceTwoGood:hover {
    color: green;
}
#choiceOneBad:hover {
    color: red;
}
#choiceTwoBad:hover {
    color: red;
}
#choiceOneImproving:hover {
    color: greenyellow;
}
#choiceTwoImproving:hover {
    color: greenyellow;
}
.clueNegative {
    color: orange;
}
.cluePositive {
    color: greenyellow;
}
